@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@300;400;700&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

:root{
    --chocolate: rgb(65, 26, 0);
    --white: whitesmoke;
    --font-1: 'Fira Sans', sans-serif;
    --font-2:'Source Code Pro', monospace;
}

.btn{
    padding: 10px 0;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--chocolate);;
    font-weight: bold;
    font-size: 18px;
    margin: 0 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 180px;
}
.btn:hover{
    background-color: var(--white);
    color: var(--chocolate);
    border: 2.5px solid var(--chocolate);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-2);
    color: var(--chocolate);
    padding: 10px 10px;
}
p{
    font-family: var(--font-1);
    color: var(--chocolate);
    padding: 10px 10px;
}